.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #F8F4FE;
  border-radius: 8px 8px 0 0;
  &:hover {
    background: #F8F4FE !important;
  }
}

.v-text-field__prefix {
  margin-top: 0 !important;
  transition: all linear .1s;
}

.v-label.theme--light.v-label--active + .v-text-field__prefix {
  margin-top: 20px !important;
  top: 20px !important;
}

.el-input__inner {
  border-radius: 10px !important;
  border: 1px solid #919191;
  color: #000000 !important;
}
