.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #F8F4FE;
  border-radius: 8px 8px 0 0;
  &:hover {
    background: #F8F4FE !important;
  }
}

.active-tab {
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #544b99;
}

.v-text-field__prefix {
  margin-top: 0 !important;
  transition: all linear .1s;
}

.v-label.theme--light.v-label--active + .v-text-field__prefix {
  margin-top: 20px !important;
  top: 20px !important;
}

.el-input__inner {
  border-radius: 10px !important;
  border: 1px solid #919191;
  color: #000000 !important;
}
.v-data-table > .v-data-table__wrapper tbody tr.v-data-table__expanded__content {
  box-shadow: none;
}
.v-data-table-header {
  background-color: #F4F5FA;
}

.image {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.update__icon {
  border-radius: 16px;
  position: absolute !important;
  z-index: 10 !important;
  top: 16px;
  right: 10px;
  background-color: #fff;
  padding: 5px;
  &.small {
    padding: 0 2px;
  }
}
.relative {
  position: relative !important;
  width: 100%;
}
.upload-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #5570F1;
}

.downloadIconDisable {
  fill: red
}
.big__image {
  background: #F4F5FA;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #E1E2E9;
}
.default__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.default__text {
  > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8D97;
    margin-bottom: 7px;
    > span {
      color: #000;
    }
  }
}
.w-100{
  width: 100px !important;
}
