html, body, .v-application {
  font-family: 'Inter', sans-serif !important;
}

.w-full {
  width: 100%;
}
.m-w-full {
  min-width: 100%;
}
.h-full {
  height: 100%;
}
.m-h-full {
  min-height: 100%;
}

.pointer {
  cursor: pointer;
}
.theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
  background: #F8F4FE;
  border-radius: 8px 8px 0 0;
  &:hover {
    background: #F8F4FE !important;
  }
}
.text-base {
  color: #544B99;
}
.border {
  border: 2px solid #544B99;
}
.border-required {
  border: 2px solid #FF0000;
}
.border-optional {
  border: 2px solid #E69C53;
}
.border-grey {
  border: 1px solid #E9EAEB;
}
