.login {
  min-height: 100vh;

  &__image {
    height: 100vh;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__main {
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0 24px 48px rgba(87, 87, 87, 0.16);
    border-radius: 16px;
    width: min(100%, 450px);
  }

  &__description {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #1D2433;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4A505C;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__hint {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1D2433;
    margin: 32px 0 15px;
  }
  &__forgot {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  &__back {
    width: min(100%, 450px);
    &--wrap {
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-content: center;
      background: #F8F4FE;
      border-radius: 8px;
      padding: 7px;
      cursor: pointer;
      > img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.v-text-field__prefix {
  margin-top: 0 !important;
  transition: all linear .1s;
}

.v-label.theme--light.v-label--active + .v-text-field__prefix {
  margin-top: 20px !important;
  top: 20px !important;
}

.v-btn--outlined {
  border: 2px solid #7631FF;
}

a {
  color: #7631FF !important;
  text-decoration: none;
}
