.big-image {
  background: #F4F5FA;
  border: 1px solid #E1E2E9;
  border-radius: 12px;
  height: 260px;
}
.default-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}
